* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}



.cabecalho{
    border-top: solid #e2e2e2 18px;
}

.nav__icone--reserva{
    width: 40px;
    height: 40px;
  
}

.icone__logo{
    display: flex;
    width: 200px;
    height: 180px;
    padding-left: 30px;
}

.menunav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.menunav__icone{
    width: 30px;
}


.menunav__item{
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    transition: .5s;
}

.menunav__item:hover{
    color: red;

    
    
}


.menunav__botao{
    width: 200px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border:none
    
    
    
    
}

.menunav__botao:hover{
    background: black;
    transform: scale(1.1);
    

}

.menu__principal{
    background: rgb(180, 33, 33);
    z-index: 0;
    border-top: solid #e2e2e2 18px;
    
}
     
.conteudo__principal{
    width: 100%;
    height: 100%;
    background-image: url(../img/motelsuite.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    height: 100vh;
    width: 100%;

}

.texto__principal{
    position: absolute;
    font-size: 5.5rem;
    font-weight: bold;
    color: white;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    padding-top: 20px;    
    


}

.texto__principal:hover{
    transition: 2s;
    background: white;
    color: red;
    opacity: 50%;
   
}

.conteudo__container--botao{
    
    display: flex;
    flex-direction: row;
    gap: 60px;
    position: absolute;
    top: 103%;
    left: 30%;

    
  
    
}


.botao__principal{
    width: 250px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border:none
    

}

.botao__principal:hover{
    background: black;
    transform: scale(1.1);
    color: white;
    

}

.conteudo__secundario{
   background: rgb(180, 33, 33);
  
    
    
  
}

.conteudo__secundario--chamada{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    align-items: flex-start;
    margin-top: 40px;
    
   
    
    
}

.conteudo__secundario--titulo{
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-left: 126px;
}


.conteudo__secundario--subtitulo{
    font-size: 1rem;
    padding-top: 17px;
    color: white;
}

.conteudo__secundario--destaque{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.botao__secundario{
    width: 200px;
    padding: 10px;    
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
    border:none
    
}
.botao__secundario:hover{
    background: black;
    transform: scale(1.1);
    color: white;
    }




.conteudo__suite--destaque{
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 60px;

text-align: center;
margin-bottom: 60px;


}



.container__imagem{
    
    width: 400px;
    height: 280px
    
}

.container__quartos1{
    background-image: url(../img/quarto1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 400px;
    border-radius: 30px;
    
}


.container__quartos2{
    background-image: url(../img/quarto2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 400px;
    border-radius: 30px;
    
    
}




.container__quartos3{
    background-image: url(../img/quarto3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 400px;
    border-radius: 30px;
}


.texto__titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}


.texto__descricao{
    font-size: 1rem;
    color: white;
}



.conteudo__terciario{
    padding :30px;
    text-align: center;
    background: white;
    background-repeat: no-repeat;
}



.conteudo__sobre--titulo{
    font-weight: bold;
    font-size: 3.67rem;
    color: black;
    margin-left: 20px;
    text-align: center;
    padding: 20px;
}



.conteudo__sobre--descricao{
    font-size: 2rem;
    margin-left: 20px;
    
}



.conteudo__sobre{
display: flex;
flex-direction: row;
gap: 30px;
align-items: center;
justify-content: center

}

.conteudo__imagem--sobre{
   width: 300px;
}


.conteudo__sobre--hidro::before{
    font-size: 1.3rem;
    content: url(../img/bath-tub_icon-icons.com_58115.png);
    


}
.conteudo__sobre--estacionamento::before{
    font-size: 1.3rem;
    content: url(../img/icons8-estacionamento-50.png);
    
    


}

.conteudo__sobre--entrada::before{
    font-size: 1.3rem;
    content: url(../img/icons8-crossing-50.png);
    


}

.conteudo__sobre--wifi::before{
    font-size: 1.3rem;
    content: url(../img/icons8-wi-fi-50.png);
    


}

.conteudo__sobre--comida::before{
    font-size: 1.3rem;
    content: url(../img/icons8-almoço-64.png);
    


}

.conteudo__sobre--local::before{
    font-size: 1.3rem;
    content: url(../img/icons8-marker-o-50.png);
    
    


}



.conteudo__final{
    background: url(../img/sensual.png);
    background-size: 100%;
    
}

.conteudo__reserva{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    gap: 30px;
    background: grey;
    opacity: 81%;
    font-weight: bold;
}



.conteudo__reserva--botao{
        
    width: 200px;
    padding: 10px;    
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
    border:none
    
    
}
.conteudo__reserva--botao:hover{
    background: black;
    transform: scale(1.1);
    color: white;
    }

    .conteudo__final--localizacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        border: solid 1px black;
 }


.conteudo__final--descricao{
    font-weight: bold;
    font-size: 2rem;
    background: rgb(255, 255, 255);
    color: red;
    opacity: 81%;
    padding-bottom: 7px;
}

.mapa{
    width: 100%;
    padding-top: 25px;
}

.rodape{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 160px;
    border-top: solid #e2e2e2 18px;
    border-bottom: solid #e2e2e2 18px;
}

.roadpe__descricao{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;

}

.conteudo__rodape{
   text-align: center;
}

.conteudo__rodape--conheca{
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
    cursor:pointer
}

@media screen and (min-width:350px){
    .conteudo__secundario--titulo {
        
        text-align: center;
        margin-left: 10px;
    }

    
    .conteudo__sobre {
      
        flex-direction: column;
        margin-top: 26px;
        
    }


    .conteudo__rodape--conheca {
       
        padding-top: 0px;
        
    }

    .conteudo__reserva--titulo{
        text-align: center;
    }

    .conteudo__secundario--destaque {
       
        margin-left: 7px;
    }

    .botao__secundario {
        
        padding: 2px;
        margin-right: 9px;
        font-size: .6rem;
        
    }

    .texto__principal {
       
            font-size: 3rem;
            top: 88%;
            margin-top: 30px;
        
        
    }

    .botao__principal {
        
        width: 150px;
        
        
    }

    .conteudo__container--botao {
      
        left: 1%;
        top: 131%;
        width: 79vw;

    }

    .menunav{
   
        flex-direction: column;
        margin-bottom: 17px;
       
    }

    .nav__icone--reserva {
        
        padding: 30px;
    }


}



@media screen and (min-width:768px){
    .menunav__botao{
        
        margin-right: 20px;
    }

    .texto__principal{
        top: 82%;
    }

    .conteudo__container--botao {
        
        left: 23%;
}
.conteudo__secundario--destaque {
    
    width: 97%;
    padding-left: 11px;
}

.botao__secundario {
    
    padding: 2px;
    
}

.container__quartos1 {
    
    height: 230px;
    width: 320px;
    
}

.container__quartos2 {
    
    height: 230px;
    width: 320px;
    
}

.container__quartos3 {
    
    height: 230px;
    width: 320px;
    
}

.conteudo__sobre {
   
    flex-direction: column;
    padding-top: 35px;
   
}

.conteudo__reserva--titulo{
    
    text-align: center;
}


}

@media screen and (min-width:1024px){

.cabecalho{
    border-top: solid #e2e2e2 18px;
}

.nav__icone--reserva{
    width: 40px;
    height: 40px;
  
}

.icone__logo{
    display: flex;
    width: 200px;
    height: 180px;
    padding-left: 30px;
}

.menunav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.menunav__icone{
    width: 30px;
}


.menunav__item{
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    transition: .5s;
}

.menunav__item:hover{
    color: red;

    
    
}


.menunav__botao{
    width: 200px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border:none
    
    
    
    
}

.menunav__botao:hover{
    background: black;
    transform: scale(1.1);
    

}

.menu__principal{
    background: rgb(180, 33, 33);
    z-index: 0;
    border-top: solid #e2e2e2 18px;
    
}
     
.conteudo__principal{
    width: 100%;
    height: 100%;
    background-image: url(../img/motelsuite.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    height: 100vh;
    width: 100%;

}

.texto__principal{
    
    font-size: 6rem;
    top:62%
    
    


}

.texto__principal:hover{
    transition: 2s;
    background: white;
    color: red;
    opacity: 50%;
   
}

.conteudo__container--botao{
    
    left: 30%;

    
  
    
}


.botao__principal{
    width: 250px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border:none
    

}

.botao__principal:hover{
    background: black;
    transform: scale(1.1);
    color: white;
    

}

.conteudo__secundario{
   background: rgb(180, 33, 33);
  
    
    
  
}

.conteudo__secundario--chamada{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    align-items: flex-start;
    margin-top: 40px;
    
   
    
    
}

.conteudo__secundario--titulo{
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-left: 126px;
}


.conteudo__secundario--subtitulo{
    font-size: 1rem;
    padding-top: 17px;
    color: white;
}

.conteudo__secundario--destaque{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.botao__secundario{
    width: 200px;
    padding: 10px;    
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
    border:none
    
}
.botao__secundario:hover{
    background: black;
    transform: scale(1.1);
    color: white;
    }




.conteudo__suite--destaque{
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 60px;

text-align: center;
margin-bottom: 60px;


}



.container__imagem{
    
    width: 400px;
    height: 280px
    
}

.container__quartos1{
    background-image: url(../img/quarto1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 400px;
    border-radius: 30px;
    
}


.container__quartos2{
    background-image: url(../img/quarto2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 400px;
    border-radius: 30px;
    
    
}




.container__quartos3{
    background-image: url(../img/quarto3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 400px;
    border-radius: 30px;
}


.texto__titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}


.texto__descricao{
    font-size: 1rem;
    color: white;
}



.conteudo__terciario{
    padding :30px;
    text-align: center;
    background: white;
    background-repeat: no-repeat;
}



.conteudo__sobre--titulo{
    font-weight: bold;
    font-size: 3.67rem;
    color: black;
    margin-left: 20px;
    text-align: center;
    padding: 20px;
}



.conteudo__sobre--descricao{
    font-size: 2rem;
    margin-left: 20px;
    
}



.conteudo__sobre{
display: flex;
flex-direction: row;
gap: 30px;
align-items: center;
justify-content: center

}

.conteudo__imagem--sobre{
   width: 300px;
}


.conteudo__sobre--hidro::before{
    font-size: 1.3rem;
    content: url(../img/bath-tub_icon-icons.com_58115.png);
    


}
.conteudo__sobre--estacionamento::before{
    font-size: 1.3rem;
    content: url(../img/icons8-estacionamento-50.png);
    
    


}

.conteudo__sobre--entrada::before{
    font-size: 1.3rem;
    content: url(../img/icons8-crossing-50.png);
    


}

.conteudo__sobre--wifi::before{
    font-size: 1.3rem;
    content: url(../img/icons8-wi-fi-50.png);
    


}

.conteudo__sobre--comida::before{
    font-size: 1.3rem;
    content: url(../img/icons8-almoço-64.png);
    


}

.conteudo__sobre--local::before{
    font-size: 1.3rem;
    content: url(../img/icons8-marker-o-50.png);
    
    


}



.conteudo__final{
    background: url(../img/sensual.png);
    background-size: 100%;
    
}

.conteudo__reserva{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    gap: 30px;
    background: grey;
    opacity: 81%;
    font-weight: bold;
}



.conteudo__reserva--botao{
        
    width: 200px;
    padding: 10px;    
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
    border:none
    
    
}
.conteudo__reserva--botao:hover{
    background: black;
    transform: scale(1.1);
    color: white;
    }

    .conteudo__final--localizacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        border: solid 1px black;
 }


.conteudo__final--descricao{
    font-weight: bold;
    font-size: 2rem;
    background: rgb(255, 255, 255);
    color: red;
    opacity: 81%;
    padding-bottom: 7px;
}

.mapa{
    width: 100%;
    padding-top: 25px;
}

.rodape{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 160px;
    border-top: solid #e2e2e2 18px;
    border-bottom: solid #e2e2e2 18px;
}

.roadpe__descricao{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;

}

.conteudo__rodape{
   text-align: center;
}

.conteudo__rodape--conheca{
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
    cursor:pointer
}
}
